@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.bg-hero {
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
}
